<!DOCTYPE html>
<html>
<head>
    <title>Sample Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>This is a sample EJS page</h1>
    <p>Hell Phong ca!</p>
    <div>
        <img class="lucas" src="/images/unnamed.png"/>
    </div>
</body>
</html>
